{% extends 'CaskApp/base.html' %} 

{% block title %}
    | Clientes
{% endblock title %}

{% block contenido %}

<h3>Lista de clientes</h3>

    <table border='1'>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
        </thead>
        <tbody>
	        {% for cliente in clientes %}
		        <tr>
				    <td>{{cliente.nombre}}</td>
				    <td>{{cliente.apellido}}</td>
		        </tr>
	        {% endfor %} 
        </tbody>
    </table>

<button><a href="{% url 'index' %}">Inicio</a></button>

{% endblock contenido %}