{% extends 'CaskApp/base.html' %} 

{% block title %}
    | Inicio
{% endblock title %}

{% block contenido %}
    <h1>Bienvenidos a Cask</h1>

    <button><a href="{% url 'producto_list' %}">Ver Productos</a></button>
    <button><a href="{% url 'producto_form' %}">Crear Producto</a></button>
    <button><a href="{% url 'cliente_list' %}">Ver Clientes</a></button>
    <button><a href="{% url 'cliente_form' %}">Crear Cliente</a></button>
    <button><a href="{% url 'cata_list' %}">Ver Catas</a></button>
    <button><a href="{% url 'cata_form' %}">Crear Cata</a></button>

{% endblock contenido %}
